<section id="banner">
	<div class="content">
		<header>
			<h2>Hi, Im Diana :)<br />
			</h2>
		</header>
		<p>
		This is a compilation of machine learning classification models to accuratelly determine if a text is spam or ham.
		Backend source code is available in
		<a href="https://github.com/diana-corona/AWSLambdaSpamDetection.git">GitHub</a>
		</p>
	</div>
</section>