<footer id="footer">
	<p class="copyright"> 
		&copy; Diana Corona. Design: 
		<a href="https://html5up.net">HTML5 UP</a>
		<ul class="icons">
			<li><a href="https://www.linkedin.com/in/diana-corona/"><span class="label">LinkedIn</span></a></li>
			<li><a href="https://github.com/diana-corona" ><span class="label">Github</span></a></li>
			<li><a href="https://www.instagram.com/diana_crown/" ><span class="label">Instagram</span></a></li>
			<li><a href="mailto:diana.corona.g@gmail.com"><span class="label">E-Mail</span></a></li>
		</ul>
	</p>
</footer>