<div id="main">
	<div class="inner">
		<!-- Header -->
		<header id="header">
			<h1>Spam or Ham</h1>
		</header>
		<nav>
			<LinkTo @route="index">Home</LinkTo>
			<LinkTo @route="MLPClassifier">MLP Classifier</LinkTo>
			<LinkTo @route="kneighbor">KNeighbor</LinkTo>
			<LinkTo @route="decisiontree">Decision Tree</LinkTo>
			<LinkTo @route="randomforest">Random Forest</LinkTo>
		</nav>
	</div>
</div>